[package]
name = "__NAME__"
version = "0.1.0"
edition = "2021"
description = "Patina mother-child plugin"

[workspace]

[lib]
crate-type = ["cdylib"]

[dependencies]
patina-plugin-api = { path = "../patina-plugin-api" }
