[package]
name = "__NAME__-diagnostics"
version = "0.1.0"
edition = "2021"
publish = false

[workspace]

[dev-dependencies]
patina-child-diagnostics = { git = "https://github.com/NicabarNimble/patina", package = "patina-child-diagnostics" }
