[package]
name = "__NAME__-diagnostics"
version = "0.1.0"
edition = "2021"
publish = false

[workspace]

[dev-dependencies]
patina-child-diagnostics = { path = "../../../sdk/patina-child-diagnostics" }
