package patina:mct@0.1.0;

interface child {
    echo: func(input: string) -> result<string, string>;
}

world mct-child {
    import wasi:logging/logging@0.1.0;
    import patina:measure/measure@0.1.0;
    import patina:git/git@0.1.0;

    export child;
}
