[package]
name = "__NAME__"
version = "0.1.0"
edition = "2021"
description = "Patina typed child"

[workspace]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
patina-sdk = "__SDK_VERSION__"
wit-bindgen = "0.41.0"

[package.metadata.component]
package = "patina:__NAME__"

[package.metadata.component.target]
path = "wit"
world = "__NAME__"
