[package]
name = "__NAME__"
version = "0.1.0"
edition = "2021"
description = "Patina task plugin"

[workspace]

[lib]
crate-type = ["cdylib"]

[dependencies]
patina-task-api = { path = "../patina-task-api" }
