services:
  workspace:
    build:
      context: .
      dockerfile: Dockerfile
    command: sleep infinity
    environment:
      AI_WORKSPACE: '1'
      CLAUDE_CONFIG_DIR: /root/.claude-linux
      IS_SANDBOX: '1'
      PATINA_USE_1PASSWORD: '1'
      PATINA_YOLO: '1'
      SKIP_PERMISSIONS: '1'
    ports:
    - 3000:3000
    - 3001:3001
    - 3008:3008
    - 8000:8000
    - 8080:8080
    - 8545:8545
    volumes:
    - ../:/workspace:cached
    - ${HOME}/.claude:/root/.claude-macos:ro
    - target: /root/.claude-linux
      tmpfs:
        size: 10485760
      type: tmpfs
    - ${HOME}/.config/op:/root/.config/op:ro
    working_dir: /workspace
