[package]
name = "__NAME__"
version = "0.1.0"
edition = "2021"
description = "Patina command child"

[workspace]

[lib]
crate-type = ["cdylib"]

[dependencies]
patina-sdk = { version = "__SDK_VERSION__", features = ["command"] }
