use patina_sdk::{register_command_child, CommandChild};

#[derive(Default)]
struct __NAME_STRUCT__;

impl CommandChild for __NAME_STRUCT__ {
    fn name(&self) -> String {
        "__NAME__".into()
    }

    fn description(&self) -> String {
        "A Patina command child".into()
    }

    fn run(&mut self, _args: &[String]) -> i32 {
        0
    }
}

register_command_child!(__NAME_STRUCT__);
